* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 62.5%; }

body { font-family: var(--ff1); color: var(--text); font-size: 1.6rem; }

p { margin: 1rem 0; }

h1, h2, h3, h4, h5, h6 { margin: 0; text-transform: uppercase; }

ul { list-style: none; }

a { color: var(--text); text-decoration: none; }

img { max-width: 100%; }

.mb-5 { margin-bottom: 5rem !important; }

.mb-2 { margin-bottom: 2rem !important; }

.title-small { letter-spacing: 0.5rem; font-size: 1.7rem; }

.text-primary { color: var(--primary); }

.text-hint { color: var(--hint); }

@-webkit-keyframes bounce { 0% { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
  10% { -webkit-transform: rotate(-35deg); transform: rotate(-35deg); }
  70% { -webkit-transform: rotate(20deg); transform: rotate(20deg); }
  80% { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
  90% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }

@keyframes bounce { 0% { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
  10% { -webkit-transform: rotate(-35deg); transform: rotate(-35deg); }
  70% { -webkit-transform: rotate(20deg); transform: rotate(20deg); }
  80% { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
  90% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }

.grid-container { display: -ms-grid; display: grid; grid: "picture header" auto "aside main" 1fr "footer footer" auto / 35rem auto; }

@media (max-width: 480px) { .grid-container { grid: "header" auto "main" auto "picture" auto "aside" auto "footer" auto / auto; } }

@media (max-width: 767px) { .grid-container { grid: "header" auto "main" auto "picture" auto "aside" auto "footer" auto / auto; } }

header { grid-area: header; background: -webkit-gradient(linear, left top, right top, from(var(--primary)), to(var(--light))); background: linear-gradient(to right, var(--primary), var(--light)); padding: 8rem 5rem; text-align: center; color: white; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; }

@media (max-width: 480px) { header { padding: 5rem 2rem; } }

@media (max-width: 767px) { header { padding: 5rem 2rem; } }

header h1 { font-size: 6rem; line-height: 3rem; font-weight: 300; letter-spacing: 3rem; margin-bottom: 2rem; }

@media (max-width: 480px) { header h1 { font-size: 4rem; line-height: 6rem; } }

@media (max-width: 767px) { header h1 { font-size: 4rem; line-height: 6rem; } }

header p { letter-spacing: 0.5rem; }

header span { display: inline-block; -webkit-animation: bounce 2s; animation: bounce 2s; }

.picture { grid-area: picture; background: var(--background); padding: 4rem; border-right: 1px solid var(--border); }

.picture img { border-radius: 50%; }

@media (max-width: 767px) { .picture img { width: 50%; display: block; margin: auto; } }

aside { grid-area: aside; background: var(--background); border-right: 1px solidvar(--border); padding: 5rem; }

aside .block { margin-bottom: 5rem; }

aside .block h2 { margin-bottom: 2rem; }

aside .block h3 { margin-bottom: 0; font-size: 1.4rem; }

aside .block p { margin: 0 0 2rem 0; font-style: italic; }

aside .bar-skill { margin: 2rem 0; height: 0.5rem; background: var(--hint); position: relative; }

aside .bar-skill .bar-skill-content-100 { position: absolute; height: 0.5rem; top: 0; left: 0; width: 100%; background: var(--primary); }

aside .bar-skill .bar-skill-dot-100 { position: absolute; height: 1rem; width: 1rem; background: var(--dark); left: calc(100% - 0.5rem); top: -0.25rem; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

aside .bar-skill .bar-skill-content-80 { position: absolute; height: 0.5rem; top: 0; left: 0; width: 80%; background: var(--primary); }

aside .bar-skill .bar-skill-dot-80 { position: absolute; height: 1rem; width: 1rem; background: var(--dark); left: calc(80% - 0.5rem); top: -0.25rem; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

aside .bar-skill .bar-skill-content-70 { position: absolute; height: 0.5rem; top: 0; left: 0; width: 70%; background: var(--primary); }

aside .bar-skill .bar-skill-dot-70 { position: absolute; height: 1rem; width: 1rem; background: var(--dark); left: calc(70% - 0.5rem); top: -0.25rem; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

aside .bar-skill .bar-skill-content-60 { position: absolute; height: 0.5rem; top: 0; left: 0; width: 60%; background: var(--primary); }

aside .bar-skill .bar-skill-dot-60 { position: absolute; height: 1rem; width: 1rem; background: var(--dark); left: calc(60% - 0.5rem); top: -0.25rem; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

aside .stars-container { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 2rem 0 3rem 0; color: var(--hint); }

aside .stars-container i { font-size: 2rem; margin: 0 1rem; }

aside .social-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 1rem; border-radius: 0.5rem; cursor: pointer; }

aside .social-container:hover { background: var(--border); -webkit-transition: all 0.2s; transition: all 0.2s; }

aside .social-container:hover i { color: var(--primary); -webkit-transform: scale(1.3); transform: scale(1.3); -webkit-transition: all 0.2s; transition: all 0.2s; }

aside .social-container i { -webkit-box-flex: 0; -ms-flex: 0 0 50px; flex: 0 0 50px; margin-right: 2rem; font-size: 2rem; }

aside .social-container p { -webkit-box-flex: 1; -ms-flex: auto; flex: auto; margin: 0; }

main { grid-area: main; padding: 5rem; }

@media (max-width: 480px) { main { padding: 2rem; } }

@media (max-width: 767px) { main { padding: 2rem; } }

main h2 { margin-bottom: 4rem; }

main p { letter-spacing: 0.1rem; line-height: 3rem; }

.experience { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 3rem 0; }

.experience .timeline { text-align: center; color: var(--hint); padding-right: 2rem; border-right: 1px solid var(--border); }

.experience .timeline p { margin: 0; }

.experience .content { padding: 0 1rem; }

.experience .content h2 { margin: 0; }

.experience .content p { margin: 0; }

.experience .content ul { list-style: circle; padding-left: 4rem; margin: 2rem 0; }

.experience .content h3 { text-transform: uppercase; }

footer { grid-area: footer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: white; padding: 5rem; background: var(--text); }

@media (max-width: 480px) { footer { padding: 5rem 1.5rem; } }

@media (max-width: 767px) { footer { padding: 5rem 1.5rem; } }

footer h2 { margin-bottom: 3rem; }

footer form { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

footer form .prefix { background: -webkit-gradient(linear, left top, right top, from(var(--dark)), to(var(--light))); background: linear-gradient(to right, var(--dark), var(--light)); padding: 1rem 2rem; color: white; font-size: 2rem; border-top-left-radius: 20%; border-bottom-left-radius: 20%; }

footer form button { background: var(--text); border: 0; cursor: pointer; }

footer form button:hover { opacity: 0.8; -webkit-transition: all 0.2s; transition: all 0.2s; }

footer form button .postfix { background: -webkit-gradient(linear, left top, right top, from(var(--dark)), to(var(--light))); background: linear-gradient(to right, var(--dark), var(--light)); padding: 1rem 2rem; color: white; font-size: 2rem; border-top-right-radius: 0.5rem; border-bottom-right-radius: 0.5rem; }

footer form input { outline: 0; border: 0; min-width: 400px; padding: 1rem 2rem; line-height: 2rem; }

@media (max-width: 480px) { footer form input { min-width: 65%; } }

@media (max-width: 767px) { footer form input { min-width: 65%; } }

footer form input::-webkit-input-placeholder { color: var(--text); }

footer form input:-ms-input-placeholder { color: var(--text); }

footer form input::-ms-input-placeholder { color: var(--text); }

footer form input::placeholder { color: var(--text); }
/*# sourceMappingURL=style.css.map */