// Je récupére mes partial créé

@import "reset";
@import "base";
@import "classes_utilitaires";
@import "classes";
@import "animation";
@import "media-queries";

.grid-container{
    display: grid;
    // utilisation poussée du grid
    grid:
        "picture header" auto
        "aside main" 1fr
        "footer footer" auto
        / 35rem auto;
    @include xs{
        grid:
        "header" auto
        "main" auto
        "picture" auto
        "aside" auto
        "footer" auto
        / auto;
    }
    @include sm{
        grid:
        "header" auto
        "main" auto
        "picture" auto
        "aside" auto
        "footer" auto
        / auto;
    }
}

header{
    grid-area: header;
    background: linear-gradient(to right, var(--primary), var(--light));
    padding: 8rem 5rem;
    text-align: center;
    color: white;
    // centrage précis du texte
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    @include xs{
        padding: 5rem 2rem;
    }
    h1{
        font-size: 6rem;
        line-height: 3rem;
        font-weight: 300;
        letter-spacing: 3rem;
        margin-bottom: 2rem;
        @include xs{
            font-size: 4rem;
            line-height: 6rem;
        }
    }
    p{
        letter-spacing: 0.5rem;
    }
    span{
        display: inline-block;
        animation: bounce 2s;
    }
}

.picture{
    grid-area: picture;
    background: var(--background);
    padding: 4rem;
    border-right: 1px solid var(--border);
    img{
        border-radius: 50%;
    }
}

aside{
    grid-area: aside;
    background: var(--background);
    border-right: 1px solidvar(--border);
    padding: 5rem;
    .block{
        margin-bottom: 5rem;
        h2{
            margin-bottom: 2rem;
        }
        h3{
            margin-bottom: 0;
            font-size: 1.4rem;
        }
        p{
            margin: 0 0 2rem 0;
            font-style: italic;
        }
    }
    .bar-skill{
        margin: 2rem 0;
        height: 0.5rem;
        background: var(--hint);
        position: relative;//je met en relative pour pouvoir venir supperposer la bar-skill-content
        .bar-skill-content-100{
            position: absolute;
            height: 0.5rem;
            top: 0;
            left: 0;
            width: 100%;
            background: var(--primary);
        }
        .bar-skill-dot-100{
            position: absolute;
            height: 1rem;
            width: 1rem;
            background: var(--dark);
            left: calc(100% - 0.5rem);
            top: -0.25rem;
            transform: rotate(45deg);
        }
        .bar-skill-content-80{
            position: absolute;
            height: 0.5rem;
            top: 0;
            left: 0;
            width: 80%;
            background: var(--primary);
        }
        .bar-skill-dot-80{
            position: absolute;
            height: 1rem;
            width: 1rem;
            background: var(--dark);
            left: calc(80% - 0.5rem);
            top: -0.25rem;
            transform: rotate(45deg);
        }
        .bar-skill-content-70{
            position: absolute;
            height: 0.5rem;
            top: 0;
            left: 0;
            width: 70%;
            background: var(--primary);
        }
        .bar-skill-dot-70{
            position: absolute;
            height: 1rem;
            width: 1rem;
            background: var(--dark);
            left: calc(70% - 0.5rem);
            top: -0.25rem;
            transform: rotate(45deg);
        }
        .bar-skill-content-60{
            position: absolute;
            height: 0.5rem;
            top: 0;
            left: 0;
            width: 60%;
            background: var(--primary);
        }
        .bar-skill-dot-60{
            position: absolute;
            height: 1rem;
            width: 1rem;
            background: var(--dark);
            left: calc(60% - 0.5rem);
            top: -0.25rem;
            transform: rotate(45deg);
        }
    }
    .stars-container{
        display: flex;
        margin: 2rem 0 3rem 0;
        color: var(--hint);
        i{
            font-size: 2rem;
            margin: 0 1rem;
        }
    }
    .social-container{
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        &:hover{
            background: var(--border);
            transition: all 0.2s;
            i{
                color: var(--primary);
                transform: scale(1.3);
                transition: all 0.2s;
            }
        }
        i{
            flex: 0 0 50px;
            margin-right: 2rem;
            font-size: 2rem;
        }
        p{
            flex: auto;
            margin: 0;
        }
    }
}

main{
    grid-area: main;
    padding: 5rem;
    @include xs{
        padding: 2rem;
    }
    h2{
        margin-bottom: 4rem;
    }
    p{
        letter-spacing: 0.1rem;
        line-height: 3rem;
    }
}

.experience{
    display: flex;
    margin: 3rem 0;
    .timeline{
        text-align: center;
        color: var(--hint);
        padding-right: 2rem;
        border-right: 1px solid var(--border);
        p{
            margin: 0;
        }
    }
    .content{
        padding: 0 1rem;
        h2{
            margin: 0;
        }
        p{
            margin: 0;
        }
        ul{
            list-style: circle;
            padding-left: 4rem;
            margin: 2rem 0;
        }
    }
}
footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5rem;
    @include xs{
        padding: 5rem 1.5rem;
    }
    background: var(--text);
    h2{
        margin-bottom: 3rem;
    }
    form{
        display: flex;
        align-items: center;
        .prefix{
            background: linear-gradient(to right, var(--dark), var(--light));
            padding: 1rem 2rem;
            color: white;
            font-size: 2rem;
            border-top-left-radius: 20%;
            border-bottom-left-radius: 20%;
        }
        button{
            background: var(--text);
            border: 0;
            cursor: pointer;
            &:hover{
                opacity: 0.8;
                transition: all 0.2s;
            }
            .postfix{
                background: linear-gradient(to right, var(--dark), var(--light));
                padding: 1rem 2rem;
                color: white;
                font-size: 2rem;
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
        }
        input{
            outline: 0;
            border: 0;
            min-width: 400px;
            padding: 1rem 2rem;
            line-height: 2rem;
            @include xs{
                min-width: 70%;
            }

            &::placeholder{
                color: var(--text);
            }
        }
    }
}