:root{
    // Font
    --ff1: 'Nunito Sans', cursive;
    // couleurs
    --light: #00c3ff;
    --primary: #2071e7;
    --dark: #2980b9;
    --text: #333;
    --background: #ece7e7;
    --hint: #999;
    --border: #ddd;
}